@use "~styles/shared.scss";
@use "~styles/typo.scss";
@use "~styles/utils.scss";

@use "../_commons/item-group";

:host {
  position: relative;

  .group-item {
    @include item-group.common;

    &__left {
      flex: 1;
      padding-left: 0.5rem;

      display: flex;
      align-items: center;

      &__checkbox {
        margin-right: 0.5rem;
      }
    }


    &__right {
      position: relative;
      height: 3rem;
      width: 3rem;
      padding-right: 0.5rem;

      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
