<p-dialog
	[header]="header"
	[styleClass]="'ugo'"
	[dismissableMask]="true"
	[draggable]="false"
	[modal]="true"
	[responsive]="true"
	[breakpoints]="{ '768px': '90vw' }"
	[style]="{ width: '500px' }"
	[visible]="visible"
	(visibleChange)="visibleChange.emit($event)"
>
	<ng-template pTemplate="headless">
		<section class="wrapper">
			<!-- Custom header -->
			<header>
				<h2>{{ header }}</h2>
			</header>

			<!--Main contants-->
			<section class="content">
				<ng-content></ng-content>
			</section>

			<!--Footer-->
			<footer class="actions">
				<div class="actions_left">
					@if (showAdd) {
						<p-button
							icon="pi pi-plus"
							(click)="closeDialog(dialogNewActionType.ADD)"
							severity="secondary"
						></p-button>
					}
				</div>
				<div class="actions__right">
					<p-button

						(click)="closeDialog(dialogNewActionType.CANCEL)"
						label="Cancel"
						severity="secondary"
						[outlined]="true"
					></p-button>

					<p-button

						(click)="closeDialog(dialogNewActionType.OK)"
						label="Ok"
					></p-button>
				</div>
			</footer>
		</section>

	</ng-template>
</p-dialog>
