@use "~styles/shared.scss";
@use "~styles/typo.scss";
@use "~styles/utils.scss";

@use "~styles/item-group.scss";

:host {
  position: relative;

  .item-button {
    @include item-group.common;

    &.editing {
      app-focus-input {
        padding-right: 1rem;
      }

      .item-button__right {
        width: 6rem;
      }
    }

    .shopping-icon {
      margin: 0 1rem;
      color: var(--button-toggle-active-color-bg);
    }
  }

  button {
    border: 0;
    @include shared.disabledOpacity;
  }
}

// TO BE REPLACED BY GROUP DOT COMPONENT
.group-dot {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: darkred;

  border-radius: 50%;

  &:not(.editing) {
    transform: translateX(65%);
  }
}
