@use "~styles/shared.scss";
@use "~styles/typo.scss";
@use "~styles/utils.scss";

@use "~styles/item-group.scss";

:host {
  position: relative;
  display: block;

  .item-button {
    @include item-group.common;

    &.editing {
      app-focus-input {
        padding-right: 1rem;
      }

      .item-button__right {
        width: 6rem;
      }
    }

    &.in-cart {
      background-color: var(--lists-item-in-cart-color-bg);

    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    .shopping-icon {
      margin: 0 1rem;
      color: var(--mat-outlined-button-state-layer-color);
    }
  }

  button {
    border: 0;
    @include shared.disabledOpacity;

    will-change: width;
  }

  .group-dot {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;

    cursor: pointer;

    transition: transform 0.3s ease-in-out;

    &:not(.editing) {
      transform: translateX(4.5rem);
      cursor: auto;
    }
  }

  .drag {
    transform: translateX(100px);
    transition: transform 0.3s ease-in-out;

    &.show {
      transform: translateX(0);
    }
  }
}
