<div
  class="item-button"
  mat-ripple
  [attr.tabindex]="editing() ? -1 : 0"
  [attr.role]="!editing() ? 'button' : 'none'"
  [class.disabled]="mainStateSrv.offline()"
  [class.editing]="editing()"
  [class.in-cart]="shopping() && extra()"
  [matRippleDisabled]="editing() || mainStateSrv.offline()"
>
  <!--Left group-->
  <div class="item-button__left">

    @if (shopping() && extra()) {
      <mat-icon @revealHor class="shopping-icon" [fontIcon]="extraString()"></mat-icon>
    }

    @if (editing()) {

      <!--Checkbox-->
      <mat-checkbox
        @revealHor
        class="item-button__left__checkbox"
        aria-label="Select this item"
        [disabled]="!sortable()"
        [checked]="selected()"
        (change)="itemSelected($event)"
      ></mat-checkbox>
    }

    <!--  Label-->
    <app-focus-input
      [disabled]="!editing() || (focusSrv.id() !== null && data().UUID !== focusSrv.id())"
      [key]="data().UUID"
      [value]="data().label"
      [stroked]="stroked()"
      (changed)="itemLabelChanged($event)"
    />
  </div>

  <!--Right controls-->
  <div class="item-button__right">
    <!-- Group button -->
    <div
      class="group-dot"
      role="button"
      [attr.tabindex]="editing() ? 0 : -1"
      [attr.aria-label]="data().groupData.label"
      [class.editing]="editing()"
      [ngStyle]="{backgroundColor: data().groupData.color}"
      (click)="editing() && changeGroup()"
      (keyup.enter)="editing() && changeGroup()"
      (keyup.space)="editing() && changeGroup()"
    ></div>

    <!-- Drag handler -->
    <button cdkDragHandle mat-icon-button [title]="'Drag handler'" [disabled]="disabled() "
            class="drag" [class.show]="editing()">
      <mat-icon [fontIcon]="'drag_indicator'"></mat-icon>
    </button>
  </div>
</div>
