<header class="header">
	<div class="header__left">
		<button mat-icon-button [title]="'Back'" [disabled]="disabled || editing" (click)="goBack()">
			<mat-icon [fontIcon]="'arrow_back'"></mat-icon>
		</button>
		<div class="header__title">
			<h1>Groups</h1>
		</div>
	</div>
	<div class="header__controls">
		<button mat-icon-button [title]="'Add group'" [disabled]="disabled"
            (click)="openNewGroupDialog()">
			<mat-icon [fontIcon]="'add'"></mat-icon>
		</button>
		<button
			mat-icon-button
			[title]="'Delete group'"
			[disabled]="selectedGroups.size === 0 || selectedGroups.size === groups().length"
			(click)="groupsDeleted()"
		>
			<mat-icon [fontIcon]="'delete'"></mat-icon>
		</button>
	</div>
</header>

<main class="main" cdkDropList (cdkDropListDropped)="groupDrop($event)">
	@defer (when groups() !== null) {
	<!-- Groups -->
	@for(group of groups(); track group.UUID) {
	<!-- Drag box -->
	<div cdkDrag>
		<app-group
			[data]="group"
			[selected]="selectedGroups.has(group.UUID)"
			(changed)="groupChanged($event)"
			(focused)="focused = $event"
			(selectedChange)="groupSelected($event)"
		></app-group>
		<div class="list-drag-placeholder" *cdkDragPlaceholder></div>
	</div>
	} } @loading {
	<app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
	}
</main>

@if (editing && !focused) {
<app-confirm-cancel (cancel)="cancel()" (confirm)="confirm()"> </app-confirm-cancel>
}
