@use "~styles/vars.scss";

:host {
	position: relative;
    height: 4rem;
    
	padding: 0.5rem 1.5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid var(--surface-0);

	background: var(--surface-50);

    cursor: pointer;

	.label {
        flex: 1;
		font-weight: 500;
        white-space: nowrap;
        word-break: break-all;

        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
	}

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .updated {
            margin-left: 0.5rem;
            font-size: vars.$font-size-sm;
            color: var(--surface-600);
        }

        p-button {
            margin-left: 0.5rem;
        }
    }	
}
