@use "~styles/vars.scss";

:host {
	position: relative;

	padding: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid var(--surface-0);

	background: var(--surface-50);

	.label {
		font-weight: 500;
	}

	.updated {
		font-size: vars.$font-size-sm;
		color: var(--surface-600);
	}
}
