@use "~styles/utils.scss";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: utils.getZ('loader');

  background-color: var(--mat-app-background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  &__transparent {
    background-color: transparent;
  }

  &__spinner {
    position: absolute;
    height: 50px;
    stroke: var(--mdc-filled-button-container-color);
  }
}
