@use "~styles/utils.scss";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;

  z-index: utils.getZ('loader');

  background-color: var(--loader-default-color-bg);

  display: flex;
  align-items: center;
  justify-content: center;

  &__spinner {
    position: absolute;
    height: 50px;
    stroke: var(--mdc-filled-button-container-color);
  }
}
