:host {
  .hero {
    position: relative;
    width: 100vw;
    height: 40vh;

    display: block;

    &__img {
      object-fit: cover;
    }
  }

  main {
    position: relative;
    width: 100vw;
    height: 60vh;

    background-color: red;
  }
}
