@use "~styles/utils.scss";
@use "~styles/vars.scss";

:host {
  .hero {
    position: relative;
    width: 100vw;
    height: 40vh;

    display: block;

    &__img {
      object-fit: cover;
    }
  }

  main {
    position: relative;
    width: 100vw;
    height: 60vh;

    @include utils.flex-column-centered;

    h1 {
      margin-top: 4rem;
      text-transform: uppercase;
    }

    form {
      @include utils.flex-column-centered;

      .input-wrapper,
      button {
        margin-top: 2rem;
      }

	  .error-msg {
		width: 100%;
		color: var(--red-500);
		padding: 0.2rem;
		font-size: vars.$font-size-small;
	  }
    }
  }
}
