<picture class="hero">
	<source
		media="(min-width:1440px)"
		srcset="https://picsum.photos/1920/1080"
	/>
	<source media="(min-width:768px)" srcset="https://picsum.photos/1024/768" />
	<img
		class="hero__img"
		ngSrc="https://picsum.photos/480/640"
		alt="Decorative image for login page"
		fill="true"
		priority="true"
	/>
</picture>
<main>
	<div class="main-section">
		<h1>Tati's list</h1>

		<form [formGroup]="loginFG" (ngSubmit)="login()">
			<app-error-msg [msg]="errorMsg.user">
				<span class="input-wrapper p-float-label">
					<input
						id="username"
						type="text"
						pInputText
						[class.be-error]="errorMsg.user"
						[formControl]="userFC"
						[required]="true"
						(focus)="resetBeError('user')"
						(blur)="blur(userFC, 'user')"
					/>
					<label for="username">Username</label>
				</span>
			</app-error-msg>

			<app-error-msg [msg]="errorMsg.psw">
				<span class="input-wrapper p-float-label">
					<input
						id="password"
						type="password"
						pInputText
						[class.be-error]="errorMsg.psw"
						[formControl]="pswFC"
						(focus)="resetBeError('psw')"
						(blur)="blur(pswFC, 'psw')"
					/>
					<label for="password">Password</label>
				</span>
			</app-error-msg>

			<button
				pButton
				pRipple
				type="submit"
				[disabled]="loginFG.invalid || loggingIn"
			>
				{{ loggingIn ? "Logging in" : "Login" }}
			</button>
		</form>
	</div>

	<!--  Forgot password-->
	<a class="forgot-password" [routerLink]="'/forgot-password'"
		>Password dimenticata ?</a
	>
</main>
