<app-side-menu
	[(visible)]="mainMenuOpen"
	(action)="sideMenuAction($event)"
></app-side-menu>

<header>
	<p-button
		[icon]="mainMenuOpen ? 'pi pi-times' : 'pi pi-bars'"
		[text]="true"
		(onClick)="mainMenuOpen = true"
	></p-button>

	<!--Show full header if we have a list at last-->
	@if (showFullHeader) {
		<h1>DASHBOARD</h1>
		@if (!editMode) {
			<p-button
				icon="pi pi-pencil"
				[text]="true"
				(onClick)="enableEditing()"
			></p-button>
		} @else {
			<p-button
				icon="pi pi-plus"
				[text]="true"
				(onClick)="showNewListDialog = true"
			></p-button>
		}
	}
</header>

<main>
	@if (listData?.data) {
		@if (listData.data.length > 0) {
			<ul class="lists">
				@for (list of listData.data; track list["UUID"]) {
					<li>
						<app-list
							[editMode]="editMode"
							[label]="list.label"
							[updated]="list.updated"
						></app-list>
					</li>
				}
			</ul>
		} @else {
			<section class="no-lists-available">
				<div class="message">
					<h1>Benvenuto</h1>
					<p>Nessuna lista disponibile</p>
					<p-button
						label="Crea la prima lista"
						(onClick)="showNewListDialog = true"
					></p-button>
				</div>
			</section>
		}
	}
</main>

<app-dialog-new
	[(visible)]="showNewListDialog"
	[header]="'Nuova lista'"
	[enabled]="newListFC.valid"
	(action)="newListDialogAction($event)"
>
	<form [formGroup]="newListFG" (ngSubmit)="submitNewList()">
		<span class="input-wrapper p-float-label">
			<input
				id="new-list"
				type="text"
				pInputText
				[formControl]="newListFC"
			/>
			<label for="new-list">Aggiungi una lista</label>
		</span>
	</form>
</app-dialog-new>
