<app-side-menu
	[(visible)]="mainMenuOpen"
	(action)="sideMenuAction($event)"
></app-side-menu>

<div class="container">
	<header>
		<p-button
			[icon]="mainMenuOpen ? 'pi pi-times' : 'pi pi-bars'"
			[text]="true"
			(onClick)="mainMenuOpen = true"
		></p-button>

		@if (showFullHeader) {
			<h1>DASHBOARD</h1>
			<p-button
				icon="pi pi-plus"
				[text]="true"
				(onClick)="newList()"
			></p-button>
		}
	</header>

	<main>
		@if ((lists$ | async)?.data; as lists) {
			@if (lists.length > 0) {
				<ul class="lists">
					@for (list of lists; track list["UUID"]) {
						<li>
							<app-list
								[label]="list.label"
								[updated]="list.updated"
							></app-list>
						</li>
					}
				</ul>
			} @else {
				<section class="no-lists-available">
					<div class="message">
						<h1>Benvenuto</h1>
						<p>Nessuna lista disponibile</p>
						<p-button
							label="Crea la prima lista"
							(onClick)="newList()"
						></p-button>
					</div>
				</section>
			}
		}
	</main>
</div>

<app-dialog-new
	[(visible)]="showNewListDialog"
	[header]="'Nuova lista'"
></app-dialog-new>

<app-loader [visible]="loading"></app-loader>
