@use "~styles/utils.scss";

:host {
	header {
		width: 100vw;
		height: 6rem;
        padding: 0 1.5rem 0 0.5rem;

		display: grid;
		grid-template-columns: 2fr 10fr 2fr;
		gap: 0.5rem;

		justify-items: flex-start;
		align-items: center;

		p-button {
			width: 2rem;
			display: block;
			justify-self: center;
		}
	}

    main {
        width: 100vw;
        height: calc(utils.getRealVh(100) - 6rem);
        overflow-y: auto;
    }
}
