$head-size: (
  "h1": 2.6rem,
);

$head-weight: (
  "h1": 200,
);

@mixin header($size) {
  font-size: map-get($map: $head-size, $key: $size);
  font-weight: map-get($map: $head-weight, $key: $size);
}

@mixin createHeaders() {
  @each $key, $value in $head-size {
    #{$key} {
      @include header($key);
    }
  }
}
