// Get real height

@function getRealVh($val) {
  @return calc(var(--vh, 1vh) * $val);
}

// Z index

$map-index: (
	"loader": 9999
);

@function zIndex($val){
	@return map-get($map: $map-index, $key: $val);
}

// Alignments

@mixin flex-column-centered() {
	display: flex;
	flex-direction: column;
	align-items: center;
}
