@use '~styles/typo.scss';
:host {
  overflow: hidden;

  %commons {
    margin: 0.5rem 2%;
    width: 96%;
  }

  .result-wrapper {
    @extend %commons;
    max-height: 65vh;

    display: flex;
    flex-flow: column;
    overflow-y: auto;

    button.mat-mdc-button {
      min-height: 3rem;
      margin-bottom: 0.5rem;

      border-radius: 0.25rem;
      background-color: var(--search-items-background-color);

      justify-content: flex-start;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .button-span {
        display: block;

        &__content {
          display: block;
          width: 98%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  form {
    @extend %commons;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .form-field {
      flex: 1;
      margin-right: 1rem;
    }

    button {
      margin-top: 0.25rem;
    }
  }
}
