@use "~styles/utils.scss";
@use "~styles/typo.scss";
@use "~styles/vars.scss";

main {
  position: relative;
  height: calc(utils.getRealVh(55) - var(--main-header-height));
  width: 85vw;

  margin: 0 auto;
  padding: 0 2rem utils.getRealVh(8);

  background-color: var(--mat-app-background-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  h1 {
    font-size: typo.$text-3xl;
    font-weight: 300;
    color: var(--mdc-filled-button-container-color);
  }

  p.sub-title {
    margin-top: 0.5rem;
  }

  .button {
    margin-top: utils.getRealVh(4);
  }
}

.hero {
  height: utils.getRealVh(45);
}
