<button mat-button
        [ngStyle]="{flexBasis: 100 - confirmSize() + '%'}"
        (click)="cancel.emit()">

  @if (cancelTemplate) {
    <ng-container [ngTemplateOutlet]="cancelTemplate"></ng-container>
  } @else {
    {{ cancelLabel() ?? 'cancel' }}
  }

</button>

<button mat-flat-button [color]="'accent'"
        [ngStyle]="{flexBasis: confirmSize() + '%'}"
        (click)="confirm.emit()">

  @if (confirmTemplate) {
    <ng-container [ngTemplateOutlet]="confirmTemplate"></ng-container>
  } @else {
    {{ confirmLabel() ?? 'confirm' }}
  }

</button>

