@use "~styles/vars.scss";

:host{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(vars.$confirm-cancel-height + 1rem);

  padding: 0.75rem 1rem 1rem;

  display: flex;

  transition: transform vars.$time-basic ease-in-out;

  background-color: var(--mat-app-background-color);

  &.hidden {
    transform: translateY(100%);
  }
}
