@use "~styles/typo.scss";
@use "~styles/utils.scss";

:host {
  position: relative;

  .item-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 0.875rem 0.75rem 0.5rem;

    border-width: 1px 0 1px;
    border-style: solid;
    border-color: var(--mat-app-background-color);

    border-radius: 0.25rem;

    background-color: var(--lists-item-color-bg);
    color: var(--mat-sidenav-content-text-color);

    @include utils.text-not-selectable;
  }

  button[disabled] {
    opacity: 0.2;
  }
}
