<div
  class="item-button"
  mat-ripple
  [attr.tabindex]="editing() ? -1 : 0"
  [attr.role]="!editing() ? 'button' : 'none'"
  [class.editing]="editing()"
  [matRippleDisabled]="editing()"
>

  <!--Left group-->
  <div class="item-button__left">

    <!--Checkbox-->
    @if (editing()) {
      <mat-checkbox aria-label="Select this item"></mat-checkbox>
    }

    <!--  Label-->
    <app-focus-input
      [disabled]="!editing() || (disabled && data().UUID !== focusSrv.id() )"
      [key]="data().UUID"
      [value]="data().label"
      (changed)="itemLabelChanged($event)"
    />
  </div>

  <!--Right controls-->
  <div class="item-button__right">
    <!-- Da sostituire con il componente del gruppo -->
    <div class="group-dot" [class.editing]="editing()"></div>
  </div>
</div>
