@use "~styles/typo.scss";
@use "~styles/utils.scss";

:host {
  position: relative;

  .item-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 0;

    border-width: 1px 0 1px;
    border-style: solid;
    border-color: var(--mat-app-background-color);

    border-radius: 0.25rem;

    background-color: var(--lists-item-color-bg);
    color: var(--mat-sidenav-content-text-color);

    @include utils.text-not-selectable;

    &__left {
      flex: 1;
      padding-left: 0.5rem;
    }

    &__right {
      position: relative;
      height: 3rem;
      width: 3rem;
      padding-right: 0.5 rem;

      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button[disabled] {
    opacity: 0.2;
  }
}

// TO BE REPLACED BY GROUP DOT COMPONENT
.group-dot {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: darkred;

  border-radius: 50%;

  &:not(.editing) {
    transform: translateX(50%);
  }
}