<!--Overlay-->
<!-- @if (editLabel) {
  <div class="item-overlay"></div>
}
 -->

<!--Main component-->
<div
  [attr.role]="!editModeOn() ? 'button' : 'none'"
  [class.editing]="editModeOn()"
  [matRippleDisabled]="editModeOn()"
  class="item-button"
  mat-ripple
>
  <!--  Jolly button-->
  @if (editModeOn()) {
    <button mat-icon-button [title]="'Jolly button'" [disabled]="editLabel" (click)="deleteList()">
      <mat-icon [fontIcon]="'drag_indicator'"></mat-icon>
    </button>
  }

  <!--  Label-->
  <app-focus-input [value]="data().label" [disabled]="!editModeOn()"/>
  <!-- <input #input (blur)="editLabel = false" (focus)="editLabel = true" [disabled]="!editModeOn()" [value]="data().label"
         class="item-button__input" matInput /> -->

  <!--  Time or delete button-->
  @if (!editModeOn()) {
    <span class="item-button__time">{{ time.toLocaleDateString() }} {{ time.getHours() }}:{{ time.getMinutes() }}</span>
  } @else {
    <button mat-icon-button [title]="'delete ' + data().label + 'list'" (click)="deleteList()" [disabled]="editLabel">
      <mat-icon [fontIcon]="'delete'"></mat-icon>
    </button>
  }

</div>
