@use "~styles/typo.scss";

:host{
  position: relative;

  .item-button {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    background-color: var(--lists-item-color-bg);

    .time {
      font-size: typo.$text-xs;
      letter-spacing: 0;
    }
  }
}
