<header class="header">
	<div class="header__title">
		<h1>Dashboard</h1>
	</div>
	<div class="header__controls">
		@if (listsData()) {
		<button
			mat-icon-button
			[matTooltip]="editing ? '⇧ + Alt + A': '⇧ + Alt + E'"
			[title]="!editing ? 'Edit lists': 'Create a new list'"
			[disabled]="disabled"
			(click)="clickTopButton()"
		>
			<mat-icon [fontIcon]="!editing ? 'edit' : 'add' "></mat-icon>
		</button>
		}
	</div>
</header>

<main 
	class="main" 
	
	cdkDropList
	[cdkDropListAutoScrollDisabled]="false"
	[cdkDropListAutoScrollStep]="35" 	
	cdkDropListElementContainer=".main__container"

	(cdkDropListDropped)="listsDrop($event)"
>

	<!-- Container for autoscroll -->
	<div class="main__container">

		@defer (when listsData() !== null) { @if(listsData()!.length > 0) {

			<!--Lists-->
			@for (data of listsData(); track data.UUID) {

			<!--Drag box-->
			<div cdkDrag class="drag-box" [cdkDragDisabled]="!editing">
				<app-lists-item
					[data]="data"
					[editing]="editing"
					(changed)="itemChanged($event)"
					(clicked)="listClicked($event)"
					(deleted)="itemChanged($event)"
				></app-lists-item>
				<div class="list-drag-placeholder" *cdkDragPlaceholder></div>
			</div>

			} } @else {
			<app-empty-lists (newList)="openCreateNew()"></app-empty-lists>
			} } @placeholder {
			<app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
			}

	</div>
	
</main>

@if (editing) {
<app-confirm-cancel (cancel)="onCancel()" (confirm)="onConfirm()">
	<ng-template #cancelTemplate>
		<span>Cancel</span>
		@if(!isMobile) {
		<span> (ESC)</span>
		}
	</ng-template>

	<ng-template #confirmTemplate>
		<span>Confirm</span>
		@if(!isMobile) {
		<span> ( ⇧ + Alt + ⏎ )</span>
		}
	</ng-template>
</app-confirm-cancel>
}
