<header class="header">
  <div class="header__title">
    <h1>Dashboard</h1>
  </div>
  <div class="header__controls">
    @if (listsData()) {
      <button mat-icon-button [title]="!editModeOn ? 'Edit lists': 'Create a new list'" [disabled]="disabled"
              (click)="clickTopButton()">
        <mat-icon [fontIcon]="!editModeOn ? 'edit' : 'add' "></mat-icon>
      </button>
    }
  </div>
</header>

<main class="main">
  @defer (when listsData() !== null) {
    @if (listsData()!.length > 0) {
      <!--Lists-->
      @for (data of listsData(); track data.UUID) {
        <app-lists-item [data]="data" [editModeOn]="editModeOn"
                        (changed)="itemChanged($event)"></app-lists-item>
      }
    } @else {
      <!--No lists -> show placeholder-->
      <app-empty-lists (newList)="openCreateNew()"></app-empty-lists>
    }
  } @loading {
    <app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
  }
</main>

@if(editModeOn) {
  <app-confirm-cancel (cancel)="onCancel()" (confirm)="onConfirm()"></app-confirm-cancel>
}
