@use '~styles/utils.scss';
@use '~styles/typo.scss';
@use '~styles/vars.scss';

.main {
  height: utils.getRealVh(100);

  &__nav {
    position: absolute;
    height: vars.$main-header-height;
    width: vars.$main-nav-width;

    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: utils.getZ('main-menu');

    @include utils.media-query('t') {
      width: vars.$main-nav-big-width;
      height: vars.$main-header-big-height;
    }
  }
}

.mat-drawer {
  max-width: 16rem;
}

.main-menu {
  height: 100%;
  padding: 4vh 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__top {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-size: typo.$text-2xl;
      font-weight: 400;
    }

    .btn {
      height: 3rem;
      width: 100%;

      margin-top: 1.15rem;
      padding: 0 1.5rem;

      display: flex;
      justify-content: flex-start;
    }

    .btn--first {
        @extend .btn;
        margin-top: 2.5rem;
    }
  }

  &__bottom {
    width: 100%;
    padding: 0 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .theme-label {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        margin-left: 0.5rem;
      }
    }
  }
}
