@use '~styles/utils.scss';
@use '~styles/typo.scss';
@use '~styles/vars.scss';

.main {
  height: utils.getRealVh(100);

  &__nav {
    position: absolute;
    height: vars.$main-header-height;
    width: vars.$main-nav-width;

    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: utils.getZ('main-menu');

    @include utils.media-query('t') {
      width: vars.$main-nav-big-width;
      height: vars.$main-header-big-height;
    }
  }
}

.mat-drawer {
  max-width: 16rem;
}

.main-menu {
  height: 100%;
  padding: 4vh 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__top {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .btn {
      margin-top: 1.25rem;
    }

    .btn--first {
        margin-top: 2.5rem;
    }
  }

  h2 {
    font-size: typo.$text-2xl;
    font-weight: 400;
  }  
}
