<header class="header">
  <div class="header__title">
    <h1>{{ label }}</h1>
  </div>
  <div class="header__controls">
    @if (!editing) {
      <!--Shopping mode-->
      <app-button-toggle
        [disabled]="mainStateSrv.offline()"
        [fontIcon]="'shopping_cart'"
        [toggle]="shopping"
        (toggleChange)="setShoppingState($event)"
      ></app-button-toggle>
    }
  </div>
</header>

<main
  class="main"
  [class.main__with-footer]="shopping || editing"
>

  <div class="main__container">
    @defer (when items() !== null) {
      <div>items loaded</div>
    }
    @placeholder {
      <app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
    }
  </div>

</main>
