<header class="header">
  <div class="header__title">
    <h1>{{ label }}</h1>
  </div>
  <div class="header__controls">
    @if (!editing) {
      <!--Shopping mode-->
      <app-button-toggle
        [disabled]="mainStateSrv.offline()"
        [fontIcon]="'shopping_cart'"
        [toggle]="shopping"
        (toggleChange)="setShoppingState($event)"
      ></app-button-toggle>
    }
  </div>
</header>

<main
  class="main"
  [class.main__with-footer]="shopping || editing"
  cdkDropList
  cdkScrollable
  [cdkDropListAutoScrollStep]="20"
  [cdkDropListAutoScrollDisabled]="false"
  cdkDropListElementContainer=".main__container"
>

  <div class="main__container">
    @defer (when items() !== null) {
      @for(item of items(); track item.UUID) {
        <div class="drag-box" cdkDrag [cdkDragDisabled]="!editing || items()!.length < 2">
          @if (!shopping || (shopping && !item.notToBuy)) {
            <app-item
              [appLongPress]="!shopping && !editing"

              [data]="item"
              [editing]="editing"
              [extra]="item.inCart ? 'add_shopping_cart' : ''"
              [shopping]="shopping"
              [stroked]="item.notToBuy && !editing"

              (clicked)="itemClicked($event)"
              (longPress)="longPressed()"

            />
          }
        </div>
      }
    }
    @placeholder {
      <app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
    }
  </div>

</main>
