<div class="forgot-psw-wrapper">
	<h1>Password dimenticata ?</h1>
	<p class="sub">
		Inserisci la tua email e clicca il pulsante per ricevere una mail e
		reimpostare la tua password
	</p>

	<form [formGroup]="resetPswFg" (ngSubmit)="sendReq()">
		<app-error-msg [msg]="errorMsg">
			<span class="input-wrapper p-float-label">
				<input
					id="username"
					type="text"
					pInputText
					[class.be-error]="errorMsg"
					[formControl]="emailFC"
					[required]="true"
					(focus)="focus()"
					(blur)="blur()"
				/>
				<label for="username">Email</label>
			</span>
		</app-error-msg>

		<button pButton pRipple type="submit" [disabled]="!resetPswFg.valid">
			Reimposta
		</button>
	</form>
</div>
