@use "~styles/utils.scss";

:host {
	h1 {
		margin-bottom: 0.5rem;
	}

	.sub {
		margin-bottom: 1rem;
	}
	.forgot-psw-wrapper {
		padding: 4rem;
		height: utils.getRealVh(100);

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	button {
		margin-top: 1rem;
	}
}
