@use "~styles/utils.scss";

:host {
    position: relative;
    display: block;

    .actions-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

		p-button {
			width: 100%;
		}

		&.confirm p-button {
			width: 50%;
		}
    }

}
