/* You can add global styles to this file, and also import other style files */

@use 'styles/vars.scss';
@use 'styles/utils.scss';

@import 'styles/typo.scss';

@layer reset, custom;

/* Reset CSS */
@layer reset {
  *, *:before, *:after{
    box-sizing: border-box;
  }

  html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }

  footer, header, nav, section, main{
    display: block;
  }

  body{
    line-height: 1;
  }

  ol, ul{
    list-style: none;
  }

  blockquote, q{
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after{
    content: none;
  }

  table{
    border-collapse: collapse;
    border-spacing: 0;
  }

  input{
    -webkit-appearance: none;
    border-radius: 0;
  }
}

@layer custom {

  html {
    --main-header-height: #{vars.$main-header-height};
    --main-nav-width: #{vars.$main-nav-width};

    --mdc-snackbar-container-shape: 1rem;

    @include utils.media-query('t') {
      --main-header-height: #{vars.$main-header-big-height};
      --main-nav-width: #{vars.$main-nav-big-width};
    }
  }

  body {
    margin: 0;
    font-family: Inter, "Helvetica Neue", sans-serif;
    font-size: $text;
  }

  p {
    line-height: 1.5rem;
  };

  // Snack bars


  .mdc-snackbar
  {
    border-radius: var(--mdc-snackbar-container-shape);
  }

  .snack-bar--error {
    background-color: var(--snack-bar-error);
    background: var(--snack-bar-error-gradient);
    color: white;
  }

  .snack-bar--warning {
    background-color: var(--snack-bar-warning);
    background: var(--snack-bar-warning-gradient);
    color: white
  }

  .snack-bar--info {
    background-color: var(--snack-bar-info);
    background: var(--snack-bar-info-gradient);
    color: white
  }
}
