.alert-bar {
  position: fixed;
  right: 0;
  top: 4.5rem;
  width: 100%;
  height:0.65rem;

  opacity: 1;
  animation: kf-fadeout 0.75s forwards ease-out;
  transform-origin: bottom center;


  &.info {
    background-color: var(--snack-bar-info);
  }

  &.warning {
    background-color: var(--snack-bar-warning);
  }

  &.error {
    background-color: var(--snack-bar-error);
  }
}

@keyframes kf-fadeout {
  0%{
    opacity: 1;
    width: 100%;
    transform: translateX(-100%);
  }

  25% {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    width: 100%;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    width: 100%;
    transform: scaleY(0.5);
  }
}
