.alert-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height:var(--main-header-height);

  filter: opacity(0.5);

  opacity: 1;
  animation: kf-fadeout 1s forwards ease-out;
  transform-origin: top center;


  &.info {
    background-color: var(--snack-bar-info);
  }

  &.warning {
    background-color: var(--snack-bar-warning);
  }

  &.error {
    background-color: var(--snack-bar-error);
  }
}

@keyframes kf-fadeout {
  0%{
    opacity: 1;
    transform: scaleY(0.95);
  }

  35% {
    transform: scaleY(1);
  }

  65% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
  }
}
