<header class="header">
	<div class="header__title">
		<h1>{{ label }}</h1>
	</div>
	<div class="header__controls">
		@if (!editing) {

		<!--Shopping mode-->
		<app-button-toggle
			[fontIcon]="'shopping_cart'"
			[toggle]="shopping"
			(toggleChange)="shopping = $event"
		></app-button-toggle>

		<!--Open bottom sheet-->
		<button
			mat-icon-button
			title="options"
			[disabled]="shopping"
			type="button"
			(click)="!shopping && openButtonSheet()"
		>
			<mat-icon [fontIcon]="'more_vert'"></mat-icon>
		</button>
		} @else {

		<!--Add new item-->
		<button
			mat-icon-button
			title="add item"
			type="button"
			[disabled]="selectedItems.size > 1"
			(click)="openNewItemDialog()"
		>
			<mat-icon [fontIcon]="'add'"></mat-icon>
		</button>

		<!--Delete one or more items-->
		<button
			mat-icon-button
			title="add item"
			type="button"
			[disabled]="selectedItems.size === 0 || itemsData().length <= 1"
			(click)="itemsDeleted()"
		>
			<mat-icon [fontIcon]="'delete'"></mat-icon>
		</button>
		}
	</div>
</header>

<main class="main" cdkDropList (cdkDropListDropped)="itemDrop($event)">
	@defer (when itemsData() !== null) {
	<!--Items-->
	@for (item of itemsData(); track item.UUID) {
	<!-- Drag Box -->
	<div cdkDrag [cdkDragDisabled]="!editing || itemsData().length < 2">
		<app-list-item
			[data]="item"
			[editing]="editing"
			[selected]="selectedItems.has(item.UUID)"
			(changed)="itemChanged($event)"
			(selectedChange)="itemSelected($event)"
		></app-list-item>
		<div class="list-drag-placeholder" *cdkDragPlaceholder></div>
	</div>
	} } @loading {
	<app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
	}
</main>

@if (shopping || editing) {
<app-confirm-cancel
	[confirmSize]="shopping ? 65 : 50"
	[confirmLabel]="shopping ? 'Concludi la spesa' : 'Confirm'"
	(cancel)="cancel()"
	(confirm)="confirm()"
>
	<ng-template #cancelTemplate>
		@if (shopping) {
		<mat-icon [fontIcon]="'close'"></mat-icon>
		} @else { Cancel }
	</ng-template>
</app-confirm-cancel>
}
