<header class="header">
  <div class="header__title">
    <h1>{{label}}</h1>
  </div>
  <div class="header__controls">
    <button mat-icon-button title="Shopping mode ">
      <mat-icon [fontIcon]="'shopping_cart'"></mat-icon>
    </button>
    <!--<button mat-icon-button title="Group view ">
      <mat-icon [fontIcon]="'grid_view'"></mat-icon>
    </button>-->
    <button mat-icon-button title="more options">
      <mat-icon [fontIcon]="'more_vert'"></mat-icon>
    </button>

  </div>
</header>
<main class="main">
  @defer (when itemsData() !== null) {
    @for(item of itemsData(); track itemsData()) {
      {{item.label}}
    }
  }
  @loading {
    <app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
  }
</main>
