<header class="header">
  <div class="header__title">
    <h1>{{ label }}</h1>
  </div>
  <div class="header__controls">
    <app-button-toggle [fontIcon]="'shopping_cart'"
                       [toggle]="shopping"
                       (toggleChange)="shopping = $event"></app-button-toggle>

    <button mat-icon-button title="more options" (click)="openButtonSheet()">
      <mat-icon [fontIcon]="'more_vert'"></mat-icon>
    </button>

  </div>
</header>
<main class="main">
  @defer (when itemsData() !== null) {
    @for (item of itemsData(); track itemsData()) {
      {{ item.label }}
    }
  } @loading {
    <app-loader [mode]="'indeterminate'" [loading]="true"></app-loader>
  }
</main>

@if (shopping) {
  <app-confirm-cancel [confirmSize]="65" [confirmLabel]="'Concludi la spesa'"
                      [cancelLabel]="'X'"></app-confirm-cancel>
}
