:host {
  padding: 0.35rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  span {
    font-size: 1.1rem;
    font-weight: 500;
  }

  mat-icon.ringing {
    transform-origin: center top;
    animation: ringing-keyframes 0.5s infinite ease-in-out;
  }

  button.close {
    border: none;
    background-color: transparent;
    color: white;
  }
}

@keyframes ringing-keyframes {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
