:host {
  padding: 0.35rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;

    font-weight: 500;
  }
}
